body{
text-align: center;
/* background-image:url("http://www.keelynet.com/images/rollingdice.gif"); */
background-color: gray;
opacity: 0.7;
font-size: 20px;
background-repeat: no-repeat;
}
img{

}
h1{
  color: white;
  font-size: 50px;
  box-shadow: 3px 3px 4px  blue;

}
.para{
  border-radius: 8px 8px 8px 8px;
  color: white;
  box-sizing: border-box;
}
ul{
margin: 0px;
padding: 0px;
display: inline;
padding: 20px;
font-size: 24px;
}
.ok{
  font-size: 20px;
  padding-bottom: 24px;
  margin-bottom: 20px;
}
.two{
  display: flex;
  flex-direction: row;
}
.player{
  padding:40px;
  margin-left: 20%;
}
.names{
  background-color: pink;
  display: none;
}
