body{
  text-align: center;
/* background-image:url("http://bestanimations.com/Games/Dice/rolling-dice-gif-3.gif"); */
background-color: gray;
opacity: 0.6;
font-size: 20px;
background-repeat: no-repeat;
}
ul{
margin: 0px;
padding: 0px;
display: inline-flex;
padding: 20px;
font-size: 24px;
}
