body{
  text-align: center;
background-image:url("http://bestanimations.com/Games/Dice/rolling-dice-gif-3.gif");
background-color: gray;
opacity: 0.1;
font-size: 40px;
background-repeat: no-repeat;
}
.Instructions{
color: white;
}
